*{
    box-sizing: border-box;
    font-family: Raleway;
}

.navbar{
    padding: 0.5rem 0.5rem;
   
}


.sidebar {
    // position:fixed;
    // height: 100vh;
    // padding: 0.5rem 0.3rem;
    // width: 7vw;
    border-right: 1px solid #797B79;
    // margin-top: 4rem;
    
}


.icon{
    font-size: 2rem;
    color:#5EC762;
    &:hover{
    color:gray;
    }
}

.btn-ludos {
    border-radius: 20px;
}

.plus{
    color:gray;
    font-size:3rem;
}


// @media screen and (max-width: 400px) {
//     .sidebar {
//       width: 20vw;
//       margin-left:2rem;
//     }
    
//   }

//   @media screen and (min-width: 1100px) {
//     .sidebar {
//       width: 5vw;
//     }
    
//   }
//   @media screen and (min-width: 1250px) {
//     .sidebar {
//       width: 4vw;
//     }
    
//   }
 

