*{
    box-sizing: border-box;
    font-family: Raleway;
}

.navbar{
    padding: 0.5rem 0.5rem;
   
}


.sidebar {
    display:flex;
    border-right: 1px solid #797B79;
    
}


.icon{
    font-size: 2rem;
    color:#5EC762;
    &:hover{
    color:gray;
    }
}

.btn-ludos {
    color:white;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: 800;
}

.plus{
    color:gray;
    font-size:3rem;
}




