.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

.esperando{
  display: none;
  &.esperandoShow{display: flex;}
}
.responde{
  display: none;
  &.respondeShow{display: flex;}
}
.decidido{
  display: none;
}
